In [2]:
import pandas as pd
movies= pd.read_csv("./movies.csv")

In [3]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62421,209169,A Girl Thing (2001),(no genres listed)
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

In [6]:
import re

def clean_title(title):
    title = re.sub("[^a-zA-Z0-9 ]","",title)
    return title

In [7]:
movies["clean_title"] = movies["title"].apply(clean_title)

In [8]:
movies

,movieId,title,genres,clean_title
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,Jumanji 1995
2,3,Grumpier Old Men (1995),Comedy|Romance,Grumpier Old Men 1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Waiting to Exhale 1995
4,5,Father of the Bride Part II (1995),Comedy,Father of the Bride Part II 1995
...,...,...,...,...
62418,209157,We (2018),Drama,We 2018
62419,209159,Window of the Soul (2001),Documentary,Window of the Soul 2001
62420,209163,Bad Poems (2018),Comedy|Drama,Bad Poems 2018
62421,209169,A Girl Thing (2001),(no genres listed),A Girl Thing 2001
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama,Women of Devils Island 1962

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(ngram_range=(1,2))

tfidf = vectorizer.fit_transform(movies["clean_title"])

In [10]:
%pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.2.2-cp39-cp39-macosx_12_0_arm64.whl (8.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.5/8.5 MB 2.7 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: numpy>=1.17.3 in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from scikit-learn) (1.24.3)
Collecting scipy>=1.3.2 (from scikit-learn)
  Downloading scipy-1.10.1-cp39-cp39-macosx_12_0_arm64.whl (28.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 28.9/28.9 MB 2.6 MB/s eta 0:00:0000:0100:01
Collecting joblib>=1.1.1 (from scikit-learn)
  Downloading joblib-1.2.0-py3-none-any.whl (297 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 298.0/298.0 kB 2.6 MB/s eta 0:00:00a 0:00:01
Collecting threadpoolctl>=2.0.0 (from scikit-learn)
  Downloading threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.2.0 scikit-learn-1.2.2 scipy-1.10.1 threadpoolctl-3.1.0
Note: you may need to restart the kernel to use updated packages.

In [12]:
!pip install numpy

Requirement already satisfied: numpy in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (1.24.3)

In [13]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

def search(title):
    title = clean_title(title)
    query_vec = vectorizer.transform([title])
    similarity = cosine_similarity(query_vec, tfidf).flatten()
    indices = np.argpartition(similarity, -5)[-5:]
    results = movies.iloc[indices].iloc[::-1]
    
    return results

In [14]:
pip install ipywidgets

Requirement already satisfied: ipywidgets in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (8.0.6)
Requirement already satisfied: ipykernel>=4.5.1 in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from ipywidgets) (6.23.1)
Requirement already satisfied: ipython>=6.1.0 in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from ipywidgets) (8.13.2)
Requirement already satisfied: traitlets>=4.3.1 in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from ipywidgets) (5.9.0)
Requirement already satisfied: widgetsnbextension~=4.0.7 in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from ipywidgets) (4.0.7)
Requirement already satisfied: jupyterlab-widgets~=3.0.7 in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from ipywidgets) (3.0.7)
Requirement already satisfied: appnope in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets) (0.1.3)
Requirement already satisfied: comm>=0.1.1 in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets) (0.1.3)
Requirement already satisfied: debugpy>=1.6.5 in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets) (1.6.7)
Requirement already satisfied: jupyter-client>=6.1.12 in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets) (8.2.0)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets) (5.3.0)
Requirement already satisfied: matplotlib-inline>=0.1 in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets) (0.1.6)
Requirement already satisfied: nest-asyncio in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets) (1.5.6)
Requirement already satisfied: packaging in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets) (23.1)
Requirement already satisfied: psutil in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets) (5.9.5)
Requirement already satisfied: pyzmq>=20 in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets) (25.1.0)
Requirement already satisfied: tornado>=6.1 in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets) (6.3.2)
Requirement already satisfied: backcall in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from ipython>=6.1.0->ipywidgets) (0.2.0)
Requirement already satisfied: decorator in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from ipython>=6.1.0->ipywidgets) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from ipython>=6.1.0->ipywidgets) (0.18.2)
Requirement already satisfied: pickleshare in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from ipython>=6.1.0->ipywidgets) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from ipython>=6.1.0->ipywidgets) (3.0.38)
Requirement already satisfied: pygments>=2.4.0 in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from ipython>=6.1.0->ipywidgets) (2.15.1)
Requirement already satisfied: stack-data in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from ipython>=6.1.0->ipywidgets) (0.6.2)
Requirement already satisfied: typing-extensions in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from ipython>=6.1.0->ipywidgets) (4.6.2)
Requirement already satisfied: pexpect>4.3 in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from ipython>=6.1.0->ipywidgets) (4.8.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from jedi>=0.16->ipython>=6.1.0->ipywidgets) (0.8.3)
Requirement already satisfied: importlib-metadata>=4.8.3 in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from jupyter-client>=6.1.12->ipykernel>=4.5.1->ipywidgets) (6.6.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from jupyter-client>=6.1.12->ipykernel>=4.5.1->ipywidgets) (2.8.2)
Requirement already satisfied: platformdirs>=2.5 in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel>=4.5.1->ipywidgets) (3.5.1)
Requirement already satisfied: ptyprocess>=0.5 in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from pexpect>4.3->ipython>=6.1.0->ipywidgets) (0.7.0)
Requirement already satisfied: wcwidth in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython>=6.1.0->ipywidgets) (0.2.6)
Requirement already satisfied: executing>=1.2.0 in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (2.2.1)
Requirement already satisfied: pure-eval in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (0.2.2)
Requirement already satisfied: six in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from asttokens>=2.1.0->stack-data->ipython>=6.1.0->ipywidgets) (1.16.0)
Requirement already satisfied: zipp>=0.5 in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from importlib-metadata>=4.8.3->jupyter-client>=6.1.12->ipykernel>=4.5.1->ipywidgets) (3.15.0)
Note: you may need to restart the kernel to use updated packages.

In [20]:
pip install IPython

Requirement already satisfied: IPython in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (8.13.2)
Requirement already satisfied: backcall in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from IPython) (0.2.0)
Requirement already satisfied: decorator in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from IPython) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from IPython) (0.18.2)
Requirement already satisfied: matplotlib-inline in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from IPython) (0.1.6)
Requirement already satisfied: pickleshare in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from IPython) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from IPython) (3.0.38)
Requirement already satisfied: pygments>=2.4.0 in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from IPython) (2.15.1)
Requirement already satisfied: stack-data in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from IPython) (0.6.2)
Requirement already satisfied: traitlets>=5 in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from IPython) (5.9.0)
Requirement already satisfied: typing-extensions in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from IPython) (4.6.2)
Requirement already satisfied: pexpect>4.3 in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from IPython) (4.8.0)
Requirement already satisfied: appnope in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from IPython) (0.1.3)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from jedi>=0.16->IPython) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from pexpect>4.3->IPython) (0.7.0)
Requirement already satisfied: wcwidth in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->IPython) (0.2.6)
Requirement already satisfied: executing>=1.2.0 in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from stack-data->IPython) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from stack-data->IPython) (2.2.1)
Requirement already satisfied: pure-eval in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from stack-data->IPython) (0.2.2)
Requirement already satisfied: six in /Users/netanyajaison/miniforge3/lib/python3.9/site-packages (from asttokens>=2.1.0->stack-data->IPython) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [38]:
import ipywidgets as widgets
from IPython.display import display

movie_input = widgets.Text(
    value='Toy Story',
    description='Movie Title:',
    disabled=False
)

movie_list = widgets.Output()

def on_type(data):
    with movie_list:
        movie_list.clear_output()
        title = data["new"]
        if len(title) > 5:
            display(search(title))

movie_input.observe(on_type, names='value')


display(movie_input, movie_list)

Text(value='Toy Story', description='Movie Title:')

Output()

In [43]:
ratings = pd.read_csv("./ratings.csv")

In [44]:
ratings

          userId  movieId  rating   timestamp
0              1      296     5.0  1147880044
1              1      306     3.5  1147868817
2              1      307     5.0  1147868828
3              1      665     5.0  1147878820
4              1      899     3.5  1147868510
...          ...      ...     ...         ...
25000090  162541    50872     4.5  1240953372
25000091  162541    55768     2.5  1240951998
25000092  162541    56176     2.0  1240950697
25000093  162541    58559     4.0  1240953434
25000094  162541    63876     5.0  1240952515

[25000095 rows x 4 columns]

In [45]:
movie_id = 1

In [46]:
similar_users = ratings[(ratings["movieId"] == movie_id) & (ratings["rating"] > 4)]["userId"].unique()

In [47]:
similar_users

array([    36,     75,     86, ..., 162527, 162530, 162533])

In [50]:
similar_user_recs = ratings[(ratings["userId"].isin(similar_users)) & (ratings["rating"] > 4)]["movieId"]

In [51]:
similar_user_recs

5101            1
5105           34
5111          110
5114          150
5127          260
            ...
24998854    60069
24998861    67997
24998876    78499
24998884    81591
24998888    88129
Name: movieId, Length: 1358326, dtype: int64

In [54]:
similar_user_recs = similar_user_recs.value_counts() / len(similar_users)

similar_user_recs = similar_user_recs[similar_user_recs > .10]

In [55]:
similar_user_recs

movieId
1        1.000000
318      0.445607
260      0.403770
356      0.370215
296      0.367295
           ...
953      0.103053
551      0.101195
1222     0.100876
745      0.100345
48780    0.100186
Name: count, Length: 113, dtype: float64

In [56]:
all_users = ratings[(ratings["movieId"].isin(similar_user_recs.index)) & (ratings["rating"] > 4)]

In [57]:
all_user_recs = all_users["movieId"].value_counts() / len(all_users["userId"].unique())

In [58]:
all_user_recs

movieId
318      0.342220
296      0.284674
2571     0.244033
356      0.235266
593      0.225909
           ...
551      0.040918
50872    0.039111
745      0.037031
78499    0.035131
2355     0.025091
Name: count, Length: 113, dtype: float64

In [59]:
rec_percentages = pd.concat([similar_user_recs, all_user_recs], axis=1)
rec_percentages.columns = ["similar", "all"]

In [60]:
rec_percentages

          similar       all
movieId
1        1.000000  0.124728
318      0.445607  0.342220
260      0.403770  0.222207
356      0.370215  0.235266
296      0.367295  0.284674
...           ...       ...
953      0.103053  0.045792
551      0.101195  0.040918
1222     0.100876  0.066877
745      0.100345  0.037031
48780    0.100186  0.068314

[113 rows x 2 columns]

In [61]:
rec_percentages["score"] = rec_percentages["similar"] / rec_percentages["all"]

In [62]:
rec_percentages = rec_percentages.sort_values("score", ascending=False)

In [63]:
rec_percentages

          similar       all     score
movieId
1        1.000000  0.124728  8.017414
3114     0.280648  0.053706  5.225654
2355     0.110539  0.025091  4.405452
78499    0.152960  0.035131  4.354038
4886     0.235147  0.070811  3.320783
...           ...       ...       ...
2858     0.216724  0.167634  1.292845
296      0.367295  0.284674  1.290232
79132    0.166817  0.131384  1.269693
4973     0.142501  0.112405  1.267747
2959     0.262649  0.216717  1.211946

[113 rows x 3 columns]

In [64]:
rec_percentages.head(10).merge(movies, left_index=True, right_on="movieId")

,similar,all,score,movieId,title,genres,clean_title
0,1.000000,0.124728,8.017414,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 1995
3021,0.280648,0.053706,5.225654,3114,Toy Story 2 (1999),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 2 1999
2264,0.110539,0.025091,4.405452,2355,"Bug's Life, A (1998)",Adventure|Animation|Children|Comedy,Bugs Life A 1998
14813,0.152960,0.035131,4.354038,78499,Toy Story 3 (2010),Adventure|Animation|Children|Comedy|Fantasy|IMAX,Toy Story 3 2010
4780,0.235147,0.070811,3.320783,4886,"Monsters, Inc. (2001)",Adventure|Animation|Children|Comedy|Fantasy,Monsters Inc 2001
580,0.216618,0.067513,3.208539,588,Aladdin (1992),Adventure|Animation|Children|Comedy|Musical,Aladdin 1992
6258,0.228139,0.072268,3.156862,6377,Finding Nemo (2003),Adventure|Animation|Children|Comedy,Finding Nemo 2003
587,0.179400,0.059977,2.991150,595,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX,Beauty and the Beast 1991
8246,0.203504,0.068453,2.972889,8961,"Incredibles, The (2004)",Action|Adventure|Animation|Children|Comedy,Incredibles The 2004
359,0.253411,0.085764,2.954762,364,"Lion King, The (1994)",Adventure|Animation|Children|Drama|Musical|IMAX,Lion King The 1994

In [65]:
def find_similar_movies(movie_id):
    similar_users = ratings[(ratings["movieId"] == movie_id) & (ratings["rating"] > 4)]["userId"].unique()
    similar_user_recs = ratings[(ratings["userId"].isin(similar_users)) & (ratings["rating"] > 4)]["movieId"]
    similar_user_recs = similar_user_recs.value_counts() / len(similar_users)

    similar_user_recs = similar_user_recs[similar_user_recs > .10]
    all_users = ratings[(ratings["movieId"].isin(similar_user_recs.index)) & (ratings["rating"] > 4)]
    all_user_recs = all_users["movieId"].value_counts() / len(all_users["userId"].unique())
    rec_percentages = pd.concat([similar_user_recs, all_user_recs], axis=1)
    rec_percentages.columns = ["similar", "all"]
    
    rec_percentages["score"] = rec_percentages["similar"] / rec_percentages["all"]
    rec_percentages = rec_percentages.sort_values("score", ascending=False)
    return rec_percentages.head(10).merge(movies, left_index=True, right_on="movieId")[["score", "title", "genres"]]

In [66]:
movie_name_input = widgets.Text(
    value='Toy Story',
    description='Movie Title:',
    disabled=False
)
recommendation_list = widgets.Output()

def on_type(data):
    with recommendation_list:
        recommendation_list.clear_output()
        title = data["new"]
        if len(title) > 5:
            results = search(title)
            movie_id = results.iloc[0]["movieId"]
            display(find_similar_movies(movie_id))

movie_name_input.observe(on_type, names='value')

display(movie_name_input, recommendation_list)

Text(value='Toy Story', description='Movie Title:')

Output()

Empty DataFrame
Columns: [score, title, genres]
Index: []